<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appsettings>
		<add key="WithingKey" value="fb97731ef7cc787067ff5912d13663520e9428038044d198ded8d3009c52"></add>
		<add key="WithingSecret" value="d7c1267b41eb0be4db651c5fdf6923930360f795bd4cd0741184642ed"></add>
		<add key="WithingsCallbackUrl" value="http://localhost/api/callback"></add>
	</appsettings>
</configuration>
