<?xml version="1.0"?>
<configuration>
  <system.web>
    
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WithingsConsumerKey" value="fb97731ef7cc787067ff5912d13663520e9428038044d198ded8d3009c52" />
    <add key="WithingsConsumerSecret" value="36b51e76c54f49558de84756c1c613b9ec450011b6481e6424dfe905bcb3c6" />
    <add key="WithingsCallbackUrl" value="http://localhost:56617/api/oauth/callback" />
  </appSettings>
</configuration>