<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WithingsConsumerKey" value="fb97731ef7cc787067ff5912d13663520e9428038044d198ded8d3009c52" />
    <add key="WithingsConsumerSecret" value="6e9931d987075b8b6d0c00cfc8277d5c2be09dded896de7249657e1311" />
    <add key="WithingsCallbackUrl" value="http://localhost/api/callback" />
  </appSettings>
</configuration>
